extend base
block header
  header
   include nav
   block showcase
    h1 Measure Diabetes Ratio
    .buttons
     button.submit Suffering from it!
    .buttons
     button.submit Check the Risk!
