<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="diabetes.css" />
</head>
<body>
            <h1>Measure Diabetes Ratio</h1>
            <div class="buttons">
                <a href="main.html" target="_blank"><input type="button" value="Suffering from it!"></a>
            </div>
            <div class="buttons">
                <button class="submit">
                    Check the Risk!
                </button>
            </div>
    
</body>
</html>